<<SET title=<<game>>>>
<<SET top=Start a game of <<game>>>>

<<SET main=
<form name="GameOptions">
maximum turn length
<select id="turnLength">
  <option value=60>1 min</option>
  <option value=120>2 mins</option>
  <option value=300>5 mins</option>
  <option value=600>10 mins</option>
</select>
(does not matter against AI)<br>
opponent
<select id="opp">
<<FOR oppid,oppname IN opponents:
  <option value="<<oppid>>"><<oppname>></option>
>>
</select><br>
Do you want to start?<input type="checkbox" id="turn" > </input><br>
<input type="button" onclick="send();" value="start game"></input>
</form>

>>

<<SET side=
on this page, select the options for the game you want to start
>>

<<SET scripts=
<script>
function send() {
  $.post('newgame',
    {time:$("#turnLength").val(),
     opponent:$("#opp").val(),
     turn:$("#turn").prop("checked")},
    function(m){
      if(m.slice(0,5)=="error"){
        alert("the user is not online");
        location.assign("/");
      }
      else{m=JSON.parse(m)
        if (m.request=="goto") location.assign(m.target)
      }
  });
}
</script>
>>

<<LOAD base.html>>