
<<SET title=3DOX - play>>
<<SET top=Play 3D noughts and crosses>>

<<SET side=
        The cells represent 4 layers in a 4*4*4 cube. To win get four cells that form a line in the cube.<br>
        Click on a cell to make your move there.
>>

<<SET styles=
<style type="text/css">
table.main
{
}
.main>tr>td
{
margin: 0;
padding: 0;
}

table.sub
{
transform: skew(-20deg);
-ms-transform: skew(-20deg);
-webkit-transform: skew(-20deg);
border-width: 0 0 2px 2px;
border-spacing: 0;
border-color: black;
border-style: solid;
}
.sub td
{
width: 28px;
height: 22px;
border-width: 2px 2px 0 0;
border-style: solid;
border-color: black;
}

p.in-cell
{
text-align: center;
margin: 0 0 0 0;
}

td.won
{
background-color: red;
}
</style>
>>

<<SET scripts=
<script>
function show(data){
  for(z=0;z<4;z++){
    for(y=0;y<4;y++){
      for(x=0;x<4;x++){
        $("#p"+x+y+z).text(data.board[z+y*4+x*16]);
        $("#t"+x+y+z).removeClass("won");
        }
      }
    }
  for (i in data.wonlines){
    line=data.wonlines[i]
    for(j=0;j<4;j++){
      $("#t"+line[j][0]+line[j][1]+line[j][2]).addClass("won");
      }
    }
  }

$(function(){$(".sub td").click(function(){
  click($(this).attr("id").substr(1));
  })});
</script>
>>


<<SET game=
<table class='main'>
<<FOR z IN four:
  <tr><td><table class='sub'>
  <<FOR y IN four:
    <tr>
    <<FOR x IN four:
      <td id="t<<x>><<y>><<z>>"><p id="p<<x>><<y>><<z>>" class=in-cell> </p></td>
    >>
    </tr>
  >>
  </table></td></tr>
>>
</table>
>>
<<LOAD game.html>>
